#square {
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    left: 10px;
    margin-top: 10px;
    text-align: center;
    color: yellow;
  }

  h2 {
    opacity: 0;
    font-size: 18px;
  }